node_modules/
.env
inspo.mp4
.DS_Store
*.log
tools/flutter/
*.pid
*.md
!docs/*.md

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/
preview
.pid

# Firebase secrets
**/google-services.json
!**/google-services.json.example
**/GoogleService-Info.plist
!**/GoogleService-Info.plist.example

